<html>
<head>
  <title>Negative</title>
</head>
<body>
<h1>Negative Value Entered</h1>
  <p>Please ensure that all values entered are greater than or equal to 0.</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
