<html>
<head>
  <title>Over 20%</title>
</head>
<body>
<h1>Form Entry Error</h1>
  <p>Please ensure that all inputs are less than or equal 20% over the brevet distance.</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
